.Rproj.user/
.Rhistory
.RData
/*_cache/
/*_files/
/_main.rds
/_book/
*.md
!README.md
/search_index.json
/libs/
*.rds
/_main.*
/tmp-pdfcrop-*
/.quarto/
/site_libs/
**/*.quarto_ipynb
.Rproj.user
.Rproj.user
